
<div class="jumbotron">
    <h1>Hello!</h1>
    <p>I am a Note Service app but I am not finish yet...<i class="fas fa-sad-tear"></i></p>
</div>

<form action="/" method="POST">

    <div class="form-group">
        <label>
            Anything?
            <input type='text' name="newNote" class="form-control"/>
        </label>
    </div>
    <input type='submit' value="Add" class="btn btn-primary"/>

</form>
<div>
    <div id='notes-list'>
    </div>
</div>
<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
crossorigin="anonymous"></script>
<script type='text/javascript' src="/js/notes.js"></script>
